<?xml version="1.0" encoding="utf-8"?>
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        .
        .
        .
        .
        .
        .
        .

        <activity
            android:name="com.example.shakecardbeta1.AlertBoxView"
            android:label="@string/app_name" android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.ALERT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        .
        .
        .
        .
        .
        .
        .
    </application>

</manifest>
